.cart {
	margin-bottom: 50px;
}

.cart__inner {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 42px;
	padding-top: 40px;
	padding-bottom: 48px;
}

.cart__title {
	font-size: 30px;
	line-height: 1;
	color: #222222;
	text-transform: uppercase;
	padding-bottom: 35px;
	font-weight: 400;
}

.cart__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -22px;
}

.cart__item {
	width: calc(100% / 3 - 44px);
	margin: 0 22px;
}

.cart__box {
	margin-bottom: 24px;
}

.cart__wrapper {
	width: 100%;
}

.cart__wrapper select {
	display: block;
	width: 100%;
	max-width: 100%;
}

.cart__input {
	display: block;
	width: 100%;
	border: 2px solid #f7bc28;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 9px 15px;
}

.cart__elem {
	font-size: 16px;
	line-height: 1.2;
	color: #222222;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 15px;
	margin-bottom: 18px;
}

.cart__wrap-element {
	padding: 2px;
	border: 2px solid #f7bc28;
	border-radius: 5px;
}

.cart__element {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 1;
	background-color: #fff;
	width: 100%;
	font-size: 14px;
	border-radius: 15px;
}

.cart__element input {
	display: none;
}

.cart__label {
	user-select: none;
	position: relative;
	font-size: 16px;
	align-items: center;
	text-transform: uppercase;
	height: 100%;
	flex: 1 0 auto;
	cursor: pointer;
	color: #222222;
	will-change: transform;
	transform: translateZ(0px);
	padding: 7px 10px;
	text-align: center;
	transition: transform 300ms ease;
	transition: color 200ms ease-in-out;
}

.cart__mask {
	top: 0px;
	left: 0;
	height: 100%;
	position: absolute;
	z-index: -1;
	border-radius: 15px;
	transition: left 300ms ease, width 300ms ease;
	background-color: #f7bc28;
	border-radius: 5px;
}

.cart__block {
	display: flex;
	border: 2px solid #f7bc28;
	border-radius: 5px;
	padding: 6px 15px;
	padding-right: 12px;
}

.cart__block input {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 1.2;
	color: #000000;
	border: none;
	outline: none;
}

.cart__btn {
	cursor: pointer;
	width: 25px;
	height: 25px;
	background-image: url(../img/icons/search.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	border: none;
	outline: none;
	padding: 0px;
}

.cart__number,
.cart__fio {
	font-size: 16px;
	line-height: 1.2;
	color: #222222;
}

.cart__number {
	padding-top: 15px;
	padding-bottom: 8px;
}

.cart__fio {
	max-width: 222px;
	line-height: 1.9;
	text-transform: uppercase;
	padding-bottom: 40px;
}

.cart__sum {
	font-size: 16px;
	line-height: 1;
	color: #222222;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: 700;
}

.cart__sum span {
	font-size: 36px;
	font-weight: 200;
}

.cart__unit {
	font-size: 18px;
	color: #222222;
	text-transform: uppercase;
	padding-bottom: 40px;
	font-weight: 200;
}

.cart__unit b {
	font-weight: 200;
	padding-right: 5px;
}

.cart__order {
	font: inherit;
	display: block;
	width: 100%;
	font-size: 18px;
	color: #000000;
	background-color: #f7bc28;
	border: none;
	outline: none;
	text-transform: uppercase;
	padding: 10px 5px;
	border-radius: 5px;
	transition: 0.3s background-color, 0.3s color;
}

.cart__order[disabled] {
	cursor: default;
	opacity: 0.5;
	text-decoration: line-through;
}

.cart__order:not(:disabled):hover {
	cursor: pointer;
	background-color: #bd901e;
	color: #fff;
}

.cart__error {
	color: #b00;
	font-weight: bold;
	padding-left: 15px;
	text-transform: uppercase;
	padding-bottom: 12px;
}

.cart .jq-selectbox {
	user-select: none;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #f7bc28;
}

.cart .jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top: 5px solid #666666;
}

.cart .jq-selectbox__select {
	font-family: Roboto-Regular;
	background: transparent;
	width: 100%;
	height: auto;
	border: 0;
	box-shadow: none;
	text-shadow: none;
	font-size: 16px;
	color: #000000;
	border-radius: 15px;
	padding-right: 35px;
	padding-left: 15px;
}

.cart .jq-selectbox__select:hover {
	background: #fff;
}

.cart .jq-selectbox__select-text {
	font-family: Montserrat;
	font-size: 14px;
	padding: 2px 0;
	padding-bottom: 3px;
	text-align: left;
	color: #000000;
	width: 100% !important;
	height: auto;
}

.cart .jq-selectbox.focused .jq-selectbox__select {
	border: 0;
}

.cart .jq-selectbox__trigger {
	border: 0;
	background-color: transparent;
}

.cart .jq-selectbox__trigger:hover .jq-selectbox__trigger-arrow {
	border-top: 5px solid #fff;
}

.cart .jq-selectbox__trigger::after {
	position: absolute;
	content: ' ';
	top: 13px;
	right: 20px;
	width: 10px;
	height: 10px;
	border-left: 2px solid #f7bc28;
	border-top: 2px solid #f7bc28;
	transform: rotate(225deg);
	transition: 0.3s border, 0.3s top;
}

.cart .jq-selectbox__trigger-arrow {
	border: none;
	top: 25px;
}

.cart .jq-selectbox__dropdown {
	border-radius: 5px;
	border: 2px solid #f7bc28;
	overflow: hidden;
	max-width: 100%;
	margin-top: 3px;
}

.cart .jq-selectbox__dropdown ul {
	max-height: 250px;
	overflow: auto;
}

.cart .jq-selectbox li {
	position: relative;
	font-family: Montserrat;
	font-size: 14px;
	padding: 5px 10px 5px 20px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
}

.cart .jq-selectbox li:hover {
	background-color: #ffc0df;
	color: #fff;
}

.cart .jq-selectbox li.sel {
	background-color: #f7bc28;
	color: #fff;
}

.page-cart .product__inner {
	padding-top: 65px;
	padding-bottom: 20px;
}

.page-cart .product__elem,
.page-product .product__elem {
	width: calc(100% / 4 - 40px);
}

.page-cart .product__box,
.page-product .product__box {
	justify-content: center;
	margin: 30px auto;
	margin-top: 25px;
}

.page-cart__add,
.page-product__add {
	cursor: pointer;
	display: block;
	width: 100%;
	font-size: 16px;
	color: #000000;
	background-color: #f7bc28;
	border: none;
	outline: none;
	text-transform: uppercase;
	padding: 26px 5px;
	transition: 0.3s background-color, 0.3s color;
}

.page-cart__add:hover,
.page-product__add:hover {
	background-color: #bd901e;
	color: #fff;
}

.page-cart__count,
.page-product__count {
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	text-align: center;
	padding-bottom: 15px;
	font-weight: 200;
}

@media screen and (max-width: 1199px) {

.cart__label {
	font-size: 14px;
}

}

@media screen and (max-width: 1150px) {

.cart__inner {
	padding: 40px 20px;
}

}

@media screen and (max-width: 1050px) {

.cart__inner {
	margin: 0px auto;
	max-width: 500px;
}

.cart__wrap {
	margin: 0px;
}

.cart__item {
	width: 100%;
	margin: 0px;
}

}

@media screen and (max-width: 960px) {

.page-cart .product__elem,
.page-product .product__elem {
	width: calc(100% / 3 - 40px);
}

}

@media screen and (max-width: 780px) {

.page-cart .product__elem,
.page-product .product__elem {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

}

@media screen and (max-width: 480px) {

.cart__label {
	font-size: 12px;
	padding: 7px 10px;
}

}

